/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Modules */
#what-i-do {
  padding: 125px 0 120px;
}
.what-i-do-section-title {
  margin-bottom: 140px;
}
.section-title-block {
  overflow: hidden;
}
.section-title-block__left {
  float: left;
  width: 50%;
  text-align: right;
  padding-right: 100px;
}
.section-title-block__right {
  float: left;
  width: 50%;
  padding-left: 80px;
}
.section-title-block__right p {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  line-height: 1.67;
}
.setion-items-block {
  overflow: hidden;
}
.setion-items-block__item {
  float: left;
  width: 33%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.setion-items-block__item:first-child {
  padding-top: 52px;
}
.setion-items-block__item:last-child {
  padding-top: 60px;
}
.setion-items-block__item .scroll-down {
  position: static;
  margin: 0 auto;
  margin: 40px auto 50px;
}
.setion-items-block__item .scroll-down__link {
  display: none !important;
}
.setion-items-block__title {
  margin-bottom: 30px;
}
.setion-items-block span {
  display: block;
}
.setion-items-block__text {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
