@import 'variables'
@import 'fonts'
@import 'components'
@import '../../../node_modules/normalize.css/normalize.css'

html
	line-height 1
	font-size 18px
	margin 0
	padding 0

body
	margin 0

h1,
h2,
h3,
h4,
h5,
h6
	margin 0

ul,
li
	margin 0
	padding 0
	list-style-type none

p
	margin 0

a
	text-decoration none
	outline none

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle

textarea
	resize none

section
	position relative

input,
select,
button
	outline none

*,
*:before,
*:after
	box-sizing border-box

::-moz-selection 
	background #b3d4fc;
	text-shadow none;

::selection 
	background #b3d4fc;
	text-shadow none;

.clearfix:before,
.clearfix:after 
	content " ";
	display table;

.clearfix:after 
	clear both;

.clearfix 
	*zoom 1

.hide
	display none

.show
	display block

.wrapper
	width 97%
	max-width 1200px
	margin 0 auto