// fonts
bigJohnFont = BigJohn, Arial, sans-serif
openSansLightFont = 'OpenSans-Light', Arial, sans-serif
openSansRegularFont = 'OpenSans-Regular', Arial, sans-serif

// colors
blackColor = #000
whiteColor = #fff
goldColor = #fdd400
goldenrodColor = #fad663