@import '_base/variables'
@import '../../node_modules/slick-carousel/slick/slick.css'
// @import '../../node_modules/magnific-popup/dist/magnific-popup.css'
// @import '../../node_modules/jquery-form-styler/dist/jquery.formstyler.css'

/* Modules */
@import 'modules/what-i-do'
@import 'modules/my-works'
@import 'modules/about'
@import 'modules/contact'
@import 'modules/footer'