extends ../template

block title
	title Main pages

block header
	include ../modules/header
block content
	include ../modules/what-i-do
	include ../modules/my-works
	include ../modules/about
	include ../modules/contact
block footer
	include ../modules/footer