@import '../_base/general'

#home
	min-height 950px
	height 100vh
	
	.scroll-down
		top auto
		bottom -7px

.header
	position absolute
	top 0
	left 0
	right 0
	padding-top 60px
	z-index 1
	

.js-top-slider
	
	&__item
		height 950px !important
		background-size cover
		
		.slider-content
			text-align center
			max-width 735px
			width 100%
			margin 238px auto 0
			
			&__text
				font-size 60px
				line-height 1.2
			
			&__img
				width 70%
				margin 55px auto 50px
		
	.slick-dots
		position absolute
		top 50%
		right 5%
		transform translateY(-50%)
		
		li
			width 19px
			height 19px
			margin-bottom 10px
			
			button
				width 19px
				height 24px
				border-radius 50%
				opacity 0.6
				border solid 6px whiteColor
				background-color transparent
				text-indent -10000px
				
			&.slick-active
				
				button
					opacity .9
					

_::selection,
ul
	li
		font-style italic
				

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	.slick-dots
		position static
		
		li
			
			button
				height 34px	