#what-i-do
	padding 125px 0 120px
	

.what-i-do-section-title
	margin-bottom 140px
	

.section-title-block
	overflow hidden
	
	&__left
		float left
		width 50%
		text-align right
		padding-right 100px
		
	&__right
		float left
		width 50%
		padding-left 80px
		
		p
			font-family openSansLightFont
			line-height 1.67
			

.setion-items-block
	overflow hidden
	
	&__item
		float left
		width 33%
		text-align center
		padding-left 30px
		padding-right 30px
		
		&:first-child
			padding-top 52px
			
		&:last-child
			padding-top 60px
		
		.scroll-down
			position static
			margin 0 auto
			margin 40px auto 50px
			
			&__link
				display none !important
				
	&__title
		margin-bottom 30px
		
	span
		display block
		
	&__text
		font-family openSansLightFont
		font-size 16px
		line-height 1.5